
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// // Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66D9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;



//COLORES VIEJOS
// $primary:#007bff;
// $secondary:rgb(212, 224, 236);
// $success:#17c671;
// $danger:#c4183c;
// $info:#00b8d8;
// $warning:#ffb400;
// $light:#FBFBFB;
// $dark:#212529;
//COLOR PRUEBA
$primary:#188a66;
$secondary:#007bff;
$success:#0fbe6c;
$danger:#c4183c;
$info:#69779b;
$warning:#ffb400;
$light:#FBFBFB;
$dark:#212529;
$spacer:1rem;

$card-border-radius: 0.75rem;

// $card-box-shadows: 0 .125rem .25rem rgba($black, .075);

$input-btn-focus-width: 0.1em;

$white : #ffffff;
// Light sidebar
$sidebar-light-hover-bg: #c7c5c5;
$sidebar-light-hover-color: #000000 ;
$sidebar-light-submenu-hover-bg: #e6e7e9;
$sidebar-light-submenu-active-color: #000000;


// --blue: #007bff;
//     --indigo: #674eec;
//     --purple: #8445f7;
//     --pink: #ff4169;
//     --red: #c4183c;
//     --orange: #fb7906;
//     --yellow: #ffb400;
//     --green: #17c671;
//     --teal: #1adba2;
//     --cyan: #00b8d8;
//     --white: #fff;
//     --gray: #868e96;
//     --gray-dark: #343a40;
//     --primary: #007bff;
//     --secondary: #5A6169;
//     --success: #17c671;
//     --info: #00b8d8;
//     --warning: #ffb400;
//     --danger: #c4183c;
//     --light: #FBFBFB;
//     --dark: #212529;
