
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swapf');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Shards ui
@import '~shards-ui/dist/css/shards.css';

@import 'admin_panel/scss/AdminLTE.scss';
// @import '~vue-form-wizard/dist/vue-form-wizard.min.css';

@import '~sweetalert2/src/sweetalert2.scss';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.bg-danger {
    background-color: $danger;
}

